#imCel1_00 {position: absolute; top: 0px; left: 10px; height: 673px; width: 804px; }
#imObj1_00 img {border: none; height: 673px; width: 804px; vertical-align: bottom; }
#imObj1_00 {padding: 0px; }
#imCel1_00_Cont {text-align: center; height: 673px; overflow: hidden; }
#imPage {position: relative; height: 683px; }

