#imCel0_01 {position: absolute; top: 0px; left: 10px; height: 27px; width: 804px; }
#imObj0_01 .ff0 {font-family: Times New Roman; }
#imObj0_01 .ff1 {font-family: Tahoma; }
#imObj0_01 .ff2 {font-family: Tahoma; }
#imObj0_01 .fc1 {color: #FFFFFF; }
#imObj0_01 .fc2 {color: #000000; }
#imObj0_01 .fs14 {font-size: 19px ; vertical-align: baseline; line-height: 22px ; }
#imObj0_01 {padding: 0px 0px 0px 0px; }
#imCel0_01_Cont {text-align: center; height: 27px; overflow: hidden; }
#imCel1_00 {position: absolute; top: 37px; left: 10px; height: 509px; width: 397px; }
#imObj1_00 img {border: none; height: 468px; width: 397px; vertical-align: bottom; }
#imObj1_00 {padding: 0px; }
#imCel1_00_Cont {text-align: center; height: 509px; overflow: hidden; }
#imCel1_02 {position: absolute; top: 37px; left: 417px; height: 509px; width: 397px; }
#imObj1_02 img {border: none; height: 509px; width: 397px; vertical-align: bottom; }
#imObj1_02 {padding: 0px; }
#imCel1_02_Cont {text-align: center; height: 509px; overflow: hidden; }
#imPage {position: relative; height: 566px; }

